<table border="0" cellspacing="0" cellpadding="0" class="ta1">
  <tr class="ro1">
    <td style="text-align:center; " class="Default"> </td>
    <td colspan="8" style="text-align:center; " class="ce1">
      <p>森羅万象</p>
    </td>
  </tr>
  <tr class="ro1">
    <td style="text-align:center; " class="Default"> </td>
    <td colspan="4" style="text-align:center; " class="ce1">
      <p>能動的に状態変化するもの</p>
    </td>
    <td colspan="4" style="text-align:center; " class="ce4">
      <p>能動的には状態変化しないもの</p>
    </td>
  </tr>
  <tr class="ro1">
    <td style="text-align:center; " class="Default"> </td>
    <td colspan="2" style="text-align:center; " class="ce1">
      <p>人</p>
    </td>
    <td colspan="2" style="text-align:center; " class="ce2">
      <p>その他</p>
    </td>
    <td colspan="2" style="text-align:center; " class="ce1">
      <p>生物</p>
    </td>
    <td colspan="2" style="text-align:center; " class="ce1">
      <p>その他</p>
    </td>
  </tr>
  <tr class="ro1">
    <td style="text-align:center; " class="Default"> </td>
    <td style="text-align:center; " class="ce1">
      <p>単数</p>
    </td>
    <td style="text-align:center; " class="ce1">
      <p>複数</p>
    </td>
    <td style="text-align:center; " class="ce1">
      <p>単数</p>
    </td>
    <td style="text-align:center; " class="ce1">
      <p>複数</p>
    </td>
    <td style="text-align:center; " class="ce1">
      <p>単数</p>
    </td>
    <td style="text-align:center; " class="ce1">
      <p>複数</p>
    </td>
    <td style="text-align:center; " class="ce1">
      <p>単数</p>
    </td>
    <td style="text-align:center; " class="ce1">
      <p>複数</p>
    </td>
  </tr>
  <tr class="ro1">
    <td style="text-align:center; " class="Default">
      <p>一人称</p>
    </td>
    <td style="text-align:center; " class="ce1">
      <p>poi</p>
    </td>
    <td style="text-align:center; " class="ce1">
      <p>pou</p>
    </td>
    <td style="text-align:center; " class="ce1">
      <p>boi</p>
    </td>
    <td style="text-align:center; " class="ce1">
      <p>bou</p>
    </td>
    <td style="text-align:center; " class="ce1">
      <p>pei</p>
    </td>
    <td style="text-align:center; " class="ce1">
      <p>peu</p>
    </td>
    <td style="text-align:center; " class="ce1">
      <p>bei</p>
    </td>
    <td style="text-align:center; " class="ce1">
      <p>beu</p>
    </td>
  </tr>
  <tr class="ro1">
    <td style="text-align:center; " class="Default">
      <p>二人称</p>
    </td>
    <td style="text-align:center; " class="ce1">
      <p>toi</p>
    </td>
    <td style="text-align:center; " class="ce1">
      <p>tou</p>
    </td>
    <td style="text-align:center; " class="ce1">
      <p>doi</p>
    </td>
    <td style="text-align:center; " class="ce1">
      <p>dou</p>
    </td>
    <td style="text-align:center; " class="ce1">
      <p>tei</p>
    </td>
    <td style="text-align:center; " class="ce1">
      <p>teu</p>
    </td>
    <td style="text-align:center; " class="ce1">
      <p>dei</p>
    </td>
    <td style="text-align:center; " class="ce1">
      <p>deu</p>
    </td>
  </tr>
  <tr class="ro1">
    <td style="text-align:center; " class="Default">
      <p>三人称</p>
    </td>
    <td style="text-align:center; " class="ce1">
      <p>soi</p>
    </td>
    <td style="text-align:center; " class="ce1">
      <p>sou</p>
    </td>
    <td style="text-align:center; " class="ce1">
      <p>zoi</p>
    </td>
    <td style="text-align:center; " class="ce1">
      <p>zou</p>
    </td>
    <td style="text-align:center; " class="ce1">
      <p>sei</p>
    </td>
    <td style="text-align:center; " class="ce1">
      <p>seu</p>
    </td>
    <td style="text-align:center; " class="ce1">
      <p>zei</p>
    </td>
    <td style="text-align:center; " class="ce1">
      <p>zeu</p>
    </td>
  </tr>
  <tr class="ro1">
    <td style="text-align:center; " class="Default">
      <p>集合名</p>
    </td>
    <td colspan="2" style="text-align:center; " class="ce1">
      <p>kou</p>
    </td>
    <td colspan="2" style="text-align:center; " class="ce1">
      <p>gou</p>
    </td>
    <td colspan="2" style="text-align:center; " class="ce1">
      <p>keu</p>
    </td>
    <td colspan="2" style="text-align:center; " class="ce1">
      <p>geu</p>
    </td>
  </tr>
  <tr class="ro1">
    <td style="text-align:center; " class="Default">
      <p>任意要素名</p>
    </td>
    <td colspan="2" style="text-align:center; " class="ce1">
      <p>koi</p>
    </td>
    <td colspan="2" style="text-align:center; " class="ce1">
      <p>goi</p>
    </td>
    <td colspan="2" style="text-align:center; " class="ce1">
      <p>kei</p>
    </td>
    <td colspan="2" style="text-align:center; " class="ce1">
      <p>gei</p>
    </td>
  </tr>
  <tr class="ro1">
    <td style="text-align:center; " class="Default">
      <p>集合名</p>
    </td>
    <td colspan="8" style="text-align:center; " class="ce1">
      <p>u</p>
    </td>
  </tr>
  <tr class="ro1">
    <td style="text-align:center; " class="Default">
      <p>任意要素名</p>
    </td>
    <td colspan="8" style="text-align:center; " class="ce1">
      <p>i</p>
    </td>
  </tr>
</table>
