<table border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td style="text-align:center; "> </td>
        <td colspan="20" style="text-align:center; ">
            <p>森羅万象</p>
        </td>
    </tr>
    <tr>
        <td style="text-align:center; "> </td>
        <td colspan="12" style="text-align:center; ">
            <p>能動的に状態変化するもの</p>
        </td>
        <td colspan="8" style="text-align:center; ">
            <p>能動的には状態変化しないもの</p>
        </td>
    </tr>
    <tr>
        <td style="text-align:center; "> </td>
        <td colspan="8" style="text-align:center; ">
            <p>生物</p>
        </td>
        <td colspan="4" rowspan="2" style="text-align:center; ">
            <p>その他</p>
        </td>
        <td colspan="4" rowspan="2" style="text-align:center; ">
            <p>生物</p>
        </td>
        <td colspan="4" rowspan="2" style="text-align:center; ">
            <p>その他</p>
        </td>
    </tr>
    <tr>
        <td style="text-align:center; "> </td>
        <td colspan="4" style="text-align:center; ">
            <p>人</p>
        </td>
        <td colspan="4" style="text-align:center; ">
            <p>その他</p>
        </td>
    </tr>
    <tr>
        <td style="text-align:center; "> </td>
        <td colspan="2" style="text-align:center; ">
            <p>単数</p>
        </td>
        <td colspan="2" style="text-align:center; ">
            <p>複数</p>
        </td>
        <td colspan="2" style="text-align:center; ">
            <p>単数</p>
        </td>
        <td colspan="2" style="text-align:center; ">
            <p>複数</p>
        </td>
        <td colspan="2" style="text-align:center; ">
            <p>単数</p>
        </td>
        <td colspan="2" style="text-align:center; ">
            <p>複数</p>
        </td>
        <td colspan="2" style="text-align:center; ">
            <p>単数</p>
        </td>
        <td colspan="2" style="text-align:center; ">
            <p>複数</p>
        </td>
        <td colspan="2" style="text-align:center; ">
            <p>単数</p>
        </td>
        <td colspan="2" style="text-align:center; ">
            <p>複数</p>
        </td>
    </tr>
    <tr>
        <td style="text-align:center; "> </td>
        <td style="text-align:center; ">
            <p>直接</p>
        </td>
        <td style="text-align:center; ">
            <p>間接</p>
        </td>
        <td style="text-align:center; ">
            <p>直接</p>
        </td>
        <td style="text-align:center; ">
            <p>間接</p>
        </td>
        <td style="text-align:center; ">
            <p>直接</p>
        </td>
        <td style="text-align:center; ">
            <p>間接</p>
        </td>
        <td style="text-align:center; ">
            <p>直接</p>
        </td>
        <td style="text-align:center; ">
            <p>間接</p>
        </td>
        <td style="text-align:center; ">
            <p>直接</p>
        </td>
        <td style="text-align:center; ">
            <p>間接</p>
        </td>
        <td style="text-align:center; ">
            <p>直接</p>
        </td>
        <td style="text-align:center; ">
            <p>間接</p>
        </td>
        <td style="text-align:center; ">
            <p>直接</p>
        </td>
        <td style="text-align:center; ">
            <p>間接</p>
        </td>
        <td style="text-align:center; ">
            <p>直接</p>
        </td>
        <td style="text-align:center; ">
            <p>間接</p>
        </td>
        <td style="text-align:center; ">
            <p>直接</p>
        </td>
        <td style="text-align:center; ">
            <p>間接</p>
        </td>
        <td style="text-align:center; ">
            <p>直接</p>
        </td>
        <td style="text-align:center; ">
            <p>間接</p>
        </td>
    </tr>
    <tr>
        <td style="text-align:center; ">
            <p>一人称</p>
        </td>
        <td style="text-align:center; ">
            <p>poi</p>
        </td>
        <td style="text-align:center; ">
            <p>pohi</p>
        </td>
        <td style="text-align:center; ">
            <p>pou</p>
        </td>
        <td style="text-align:center; ">
            <p>pohu</p>
        </td>
        <td style="text-align:center; ">
            <p>pwoi</p>
        </td>
        <td style="text-align:center; ">
            <p>pwohi</p>
        </td>
        <td style="text-align:center; ">
            <p>pwou</p>
        </td>
        <td style="text-align:center; ">
            <p>pwohu</p>
        </td>
        <td style="text-align:center; ">
            <p>boi</p>
        </td>
        <td style="text-align:center; ">
            <p>bohi</p>
        </td>
        <td style="text-align:center; ">
            <p>bou</p>
        </td>
        <td style="text-align:center; ">
            <p>bohu</p>
        </td>
        <td style="text-align:center; ">
            <p>(pei)</p>
        </td>
        <td style="text-align:center; ">
            <p>(pehi)</p>
        </td>
        <td style="text-align:center; ">
            <p>(peu)</p>
        </td>
        <td style="text-align:center; ">
            <p>(pehu)</p>
        </td>
        <td style="text-align:center; ">
            <p>(bei)</p>
        </td>
        <td style="text-align:center; ">
            <p>(behi)</p>
        </td>
        <td style="text-align:center; ">
            <p>(beu)</p>
        </td>
        <td style="text-align:center; ">
            <p>(behu)</p>
        </td>
    </tr>
    <tr>
        <td style="text-align:center; ">
            <p>二人称</p>
        </td>
        <td style="text-align:center; ">
            <p>toi</p>
        </td>
        <td style="text-align:center; ">
            <p>tohi</p>
        </td>
        <td style="text-align:center; ">
            <p>tou</p>
        </td>
        <td style="text-align:center; ">
            <p>tohu</p>
        </td>
        <td style="text-align:center; ">
            <p>twoi</p>
        </td>
        <td style="text-align:center; ">
            <p>twohi</p>
        </td>
        <td style="text-align:center; ">
            <p>twou</p>
        </td>
        <td style="text-align:center; ">
            <p>twohu</p>
        </td>
        <td style="text-align:center; ">
            <p>doi</p>
        </td>
        <td style="text-align:center; ">
            <p>dohi</p>
        </td>
        <td style="text-align:center; ">
            <p>dou</p>
        </td>
        <td style="text-align:center; ">
            <p>dohu</p>
        </td>
        <td style="text-align:center; ">
            <p>tei</p>
        </td>
        <td style="text-align:center; ">
            <p>tehi</p>
        </td>
        <td style="text-align:center; ">
            <p>teu</p>
        </td>
        <td style="text-align:center; ">
            <p>tehu</p>
        </td>
        <td style="text-align:center; ">
            <p>dei</p>
        </td>
        <td style="text-align:center; ">
            <p>dehi</p>
        </td>
        <td style="text-align:center; ">
            <p>deu</p>
        </td>
        <td style="text-align:center; ">
            <p>dehu</p>
        </td>
    </tr>
    <tr>
        <td style="text-align:center; ">
            <p>三人称</p>
        </td>
        <td style="text-align:center; ">
            <p>soi</p>
        </td>
        <td style="text-align:center; ">
            <p>sohi</p>
        </td>
        <td style="text-align:center; ">
            <p>sou</p>
        </td>
        <td style="text-align:center; ">
            <p>sohu</p>
        </td>
        <td style="text-align:center; ">
            <p>swoi</p>
        </td>
        <td style="text-align:center; ">
            <p>swohi</p>
        </td>
        <td style="text-align:center; ">
            <p>swou</p>
        </td>
        <td style="text-align:center; ">
            <p>swohu</p>
        </td>
        <td style="text-align:center; ">
            <p>zoi</p>
        </td>
        <td style="text-align:center; ">
            <p>zohi</p>
        </td>
        <td style="text-align:center; ">
            <p>zou</p>
        </td>
        <td style="text-align:center; ">
            <p>zohu</p>
        </td>
        <td style="text-align:center; ">
            <p>sei</p>
        </td>
        <td style="text-align:center; ">
            <p>sehi</p>
        </td>
        <td style="text-align:center; ">
            <p>seu</p>
        </td>
        <td style="text-align:center; ">
            <p>sehu</p>
        </td>
        <td style="text-align:center; ">
            <p>zei</p>
        </td>
        <td style="text-align:center; ">
            <p>zehi</p>
        </td>
        <td style="text-align:center; ">
            <p>zeu</p>
        </td>
        <td style="text-align:center; ">
            <p>zehu</p>
        </td>
    </tr>
    <tr>
        <td style="text-align:center; ">
            <p>集合名</p>
        </td>
        <td colspan="4" style="text-align:center; ">
            <p>kou</p>
        </td>
        <td colspan="4" style="text-align:center; ">
            <p>kwou</p>
        </td>
        <td colspan="4" style="text-align:center; ">
            <p>gou</p>
        </td>
        <td colspan="4" style="text-align:center; ">
            <p>keu</p>
        </td>
        <td colspan="4" style="text-align:center; ">
            <p>geu</p>
        </td>
    </tr>
    <tr>
        <td style="text-align:center; ">
            <p>任意要素名</p>
        </td>
        <td colspan="4" style="text-align:center; ">
            <p>koi</p>
        </td>
        <td colspan="4" style="text-align:center; ">
            <p>kwoi</p>
        </td>
        <td colspan="4" style="text-align:center; ">
            <p>goi</p>
        </td>
        <td colspan="4" style="text-align:center; ">
            <p>kei</p>
        </td>
        <td colspan="4" style="text-align:center; ">
            <p>gei</p>
        </td>
    </tr>
    <tr>
        <td style="text-align:center; ">
            <p>集合名</p>
        </td>
        <td colspan="20" style="text-align:center; ">
            <p>u</p>
        </td>
    </tr>
    <tr>
        <td style="text-align:center; ">
            <p>任意要素名</p>
        </td>
        <td colspan="20" style="text-align:center; ">
            <p>i</p>
        </td>
    </tr>
</table>
